<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <img src="/assets/svg/password.svg" alt="password"/>
    <ion-text>
      Save your all
    </ion-text>
    <ion-text>
      <span>Password</span> more <span>Securely</span>
    </ion-text>
    <div class="buttons">
      <ion-button routerLink="/login" expand="block" >Login</ion-button>
      <ion-button routerLink="/signup" expand="block" >Signup</ion-button>
    </div>
  </div>
  </ion-content>
  
  