ion-header {
    ion-toolbar {
      --background: #4caf50; // Header background color
      --color: #fff; // Header text color
    }
  }
  
  ion-content {
    ion-item {
      margin-bottom: 16px;
    }
  
    ion-button {
      --background: #4caf50; // Button background color
      --color: #fff; // Button text color
    }
  }
  